a {
    transition: color .4s;
    color: #265C83;
}

a:link,
a:visited {
    color: #265C83;
}

a:hover {
    color: #7FDBFF;
}

a:active  {
    transition: color .3s;
    color: #007BE6;
}

h1 {
    font-family: "Arvo", Times, serif;
    font-size: 54px;
    text-transform: uppercase;
}

h2 {
    font-family: "Arvo", Times, serif;
}

html {
    background-color: #fefefe;
    font-family: "Lato", Arial, sans-serif;
    color: #454545;
}

strong {
    font-style: italic;
}

/******
Classes
*******/


div.about-zoe div.picture-left {
    float: left;
    width: 30%;
    overflow: hidden;
    margin-right: 1em
}

div.about-zoe div.picture-left img {
    width: 100%
}

div.about-zoe div.about-zoe-text {
    float: left;
    width: 65%
}

div.about-zoe div.about-zoe-text p:first-child {
    margin-top: 0
}

div.about-zoe:after {
    display: block;
    content: "";
    clear: both
}

.content {
    font-size: 16px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

/*******
IDs
*******/
div#leet-mode,
div#invmode {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: .8em;
    text-decoration: underline;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 2px 5px;
}

div#invmode {
    color: #fff;
    background-color: #000;
    top: 34px;
}

div#leet-mode {
    top: 10px;
    font-family: "Ubuntu Mono", monospace;
}

/*******
 Leet mode styles
 *******/

html.leet-mode .overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 115%;
    background:
            repeating-linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0) 0,
                    rgba(0, 0, 0, 0.3) 50%,
                    rgba(0, 0, 0, 0) 100%);
    background-size: auto 4px;
    z-index: 99;
}

html.leet-mode .overlay::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            0deg,
            transparent 0%,
            rgba(32, 128, 32, 0.2) 2%,
            rgba(32, 128, 32, 0.8) 3%,
            rgba(32, 128, 32, 0.2) 3%,
            transparent 100%) no-repeat;
    animation: scan 7.5s linear 0s infinite;
}

html.leet-mode {
    font-family: "Ubuntu Mono", monospace !important;
    background: #000000 radial-gradient(#11581E, #041607);
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
            0 0 1px rgba(51, 255, 51, 1),
            0 0 2px rgba(255, 255, 255, 0.8);
}

html.leet-mode h1,
html.leet-mode h2 {
    font-family: "Ubuntu Mono", monospace;
}

html.leet-mode .about-zoe a::before,
html.leet-mode .about-zoe a::after {
    content: "";
}

html.leet-mode img {
    background-color: green;
    color: green;
    opacity: 0.7;
    filter: saturate(25000%); /* Deepfry the img */
}

html.leet-mode p {
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
            0 0 1px rgba(51, 255, 51, 0.4),
            0 0 2px rgba(255, 255, 255, 0.8);
}

html.leet-mode li {
    list-style: none;
}

html.leet-mode li::before {
    content: "> ";
}

html.leet-mode a {
    color: #fff;
    text-decoration: none;
}

html.leet-mode a::before {
    content: "[";
}

html.leet-mode a::after {
    content: "]";
}

/*******
Dark mode styles
*******/

html.dark-mode {
    background-color: #010101
}

html.dark-mode body {
    color: #bababa
}

html.dark-mode div#contrast,
html.dark-mode div#invmode {
    color: #fff;
    background-color: #000
}

html.dark-mode a {
    color: #07a
}

html.dark-mode a:visited {
    color: #ac5a82
}

html.dark-mode {
    background-color: #010101
}

html.dark-mode body {
    color: #fff
}

html.dark-mode div#contrast,
html.dark-mode div#invmode {
    color: #fff;
    background-color: #000
}

html.dark-mode a {
    color: #07a
}

html.dark-mode a:visited {
    color: #ac5a82
}

/*******
Animations
*******/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

/* Apply this class to anything you want to animated */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Used for the leet mode old-school scanning animation */
@keyframes scan {
    0%        { background-position: 0 -100vh; }
    35%, 100% { background-position: 0 100vh; }
}

/*******
Media queries
*********/
@media screen and (max-width:500px) {
    body {
        text-align: left
    }
    div.about-zoe div.picture-left,
    div.about-zoe div.about-zoe-text {
        float: none;
        width: inherit
    }
}